<div class="fkw-container">
  <div class="fkw-row">
    <div class="fkw-col-6 fkw-offset-3 fkw-align-items-center fkw-justify-content-center">
        <h3>Get Access to the Independent Wholesaler Portal</h3>
        <p>Welcome to your exclusive online equipment portal, powered by Flexikitch. We’re excited to provide you with direct access to our premium commercial equipment range at unbeatable prices.</p>
        <form class="fkw-login-form">
          <div class="fkw-form-group">
            <div class="fkw-input-block">
              <label for="password">Enter the password emailed to you to continue</label>
              <input type="password" id="password" class="fkw-form-control" placeholder="Password">
              <i class="bi bi-lock-fill lock-on-input"></i>
            </div>
            <div class="fkw-input-block fkw-justify-content-end">
              <button type="submit" class="fkw-btn fkw-btn-primary">ENTER <i class="bi bi-arrow-right-short"></i></button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
  document.querySelector('main').classList.add('fkw-main');
</script>