<div class="fkw-container fkw-full">
  <div class="fkw-container">
    <div class="fkw-row">
      <div class="fkw-col-6 fkw-offset-3 fkw-align-items-center fkw-justify-content-center">
        <h3>Create Your Account</h3>
        <p>You're one step away from unlocking exclusive benefits. Simply create your account and you’ll gain instant access to our premium commercial equipment at special discounted rates available only to Metcash franchisees.</p>
        <form class="fkw-registration-form">
          <div class="fkw-form-group">
            <div class="fkw-input-block">
              <input type="text" id="store-id" class="fkw-form-control" placeholder="Store ID">
            </div>
            <div class="fkw-input-block">
              <input type="email" id="email" class="fkw-form-control" placeholder="Email Address">
            </div>
            <div class="fkw-input-block">
              <input type="password" id="password" class="fkw-form-control" placeholder="Password">
              <i class="bi bi-lock-fill lock-on-input"></i>
            </div>
            <div class="fkw-input-block benefits-list">
              <i class="bi bi-check-circle-fill"></i>
              <span>Exclusive Metcash portal user discounts</span>
            </div>
            <div class="fkw-input-block benefits-list">
              <i class="bi bi-check-circle-fill"></i>
              <span>Access to full SKOPE range at unbeatable prices</span>
            </div>
            <div class="fkw-input-block benefits-list">
              <i class="bi bi-check-circle-fill"></i>
              <span>Access to our heavily discounted exrental range</span>
            </div>
            <div class="fkw-input-block fkw-justify-content-center fkw-mt-25">
              <button type="submit" class="fkw-btn fkw-btn-primary">CREATE ACCOUNT <i class="bi bi-arrow-right-short"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    document.querySelector('main').classList.add('fkw-main');
  </script>